{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Flassifiche Fantacitorio">
    <meta name="author" content="heyteacher@github.com">
 
    <title>Fantacitorio</title>

    {% bootstrap_css %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>



<body style="min-height: 2000px; padding-top: 70px;">

  <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Fantacitorio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if request.path == "/" %} class="active" {% endif %}>
              <a href="./">Classifica Generale</a>
           </li>
           <li {% if request.path == "/classifica_per_lega" %} class="active" {% endif %}>
              <a href="classifica_per_lega">Classifiche Lega</a>
           </li>
           <li {% if request.path == "/classifica_politico" %} class="active" {% endif %}>
              <a href="classifica_politico">Classifica Politico</a>
           </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="admin"><span class="glyphicon glyphicon-lock"></span> Admin</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid">