{% extends "base.html" %}
{% load django_bootstrap5 %} 
{% load render_table from django_tables2 %} 

{% block content %}

<style>
    .page-link, select, input {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
        --bs-text-opacity: 1;
        color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        --bs-text-opacity: 1;
        color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
     }      
    ::-ms-input-placeholder { /* Microsoft Edge */
        --bs-text-opacity: 1;
        color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    }
</style>
    
{% if filter %}
<form class="row row-cols-lg-auto g-1 align-items-center " novalidate>
    {% for field in filter.form %}
        <div class="col-12">
        {% bootstrap_field field show_label=False placeholder=field.label size='sm' field_class='input-group mb-2 pr-2 bg-dark'%}
        </div>
    {% endfor %}
</form>
{% endif %} 

{% render_table table %} 
{% endblock%}
