{% extends "base.html" %}
{% load django_bootstrap5 %} 
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row justify-content-md-center mt-5">
  <div class="col-6 text-center">
    {% if process == "connect" %}
    <h2>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h2>

    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
    <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    {% endif %}
  </div>
</div>
<div class="row justify-content-md-center">
  <form class="col-1" method="post">
    {% csrf_token %}
    {% bootstrap_button  content="<i class='bi bi-twitter' style='font-size: 2rem;'></i>" button_type="submit" button_class="btn-primary"  extra_classes="input-group mb-3" %}
    <!--button type="submit">{% trans "Continue" %}</button-->
  </form>
</div>
{% endblock %}
