{% load django_bootstrap5 %} 
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>
  <body  class="bg-dark text-light">
    {% block body %}

    <div class="row justify-content-md-center mt-5">
      <div class="col-6 text-center">
      {% block content %}
      {% endblock %}
      </div>
    </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

    {% bootstrap_javascript  %}
  </body>
</html>
