django 
psycopg2 
psycopg2-binary 
django-admin-autocomplete-filter  
django-import-export
django_s3_storage
django-tables2
django-filter
django-bootstrap5
django-allauth
django-dynamodb-cache
zappa
django-debug-toolbar