{% extends "base.html" %}
{% load django_bootstrap5 %} 
{% load static %}

{% block content %}
{% bootstrap_form_errors form %}

<h1>La tua squadra</h1>

<form method="post">
    {% csrf_token %}
    <div class="row">    
    {% for field in form %}
        <div class="col-6">
            {% bootstrap_field field %}
        </div>
    {% endfor %}
    </div>
    {% bootstrap_button content="Salva <i class='bi bi-save-fill'></i>" %} 
</form>

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
{% endblock %}

