{% load static %}
{% load django_bootstrap5 %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Classifiche Fantacitorio: il gioco ideato da Propaganda Live su la7 ogni venerdì. Non ufficiale">
    <meta name="author" content="heyteacher@github.com">
 
    <title>Classifiche Fantacitorio Unofficial</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'fc_classifiche_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}">
    <link rel="icon" type="image/svg" sizes="32x32" href="{% static 'fc_classifiche_app/favicon.svg' %}">
    {% block canonical_link_rel %}{% endblock %}
  </head>

<body class="bg-dark text-light">

  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-warning" href="{% url 'home' %}">
        Classifiche Fantacitorio
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}" href="{% url 'home' %}" aria-current="page">
              Generale <i class="bi bi-list-ol"></i> 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "classifica_per_lega" %}active{% endif %}" href="{% url 'classifica_per_lega' %}" aria-current="page">
              Per Lega <i class="bi bi-list-ol"></i>  
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "classifica_politico" %}active{% endif %}" href="{% url 'classifica_politico' %}" aria-current="page">
              Per Politico <i class="bi bi-list-ol"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "punteggio_puntata" %}active{% endif %}" href="{% url 'punteggio_puntata' %}" aria-current="page">
              Punteggi <i class="bi bi-person-video"></i> 
            </a>
          </li>
          {% if request.resolver_match.url_name == "squadra_punti" %} 
          <li class="nav-item">
            <a class="nav-link active" href="#" aria-current="page">
              Dettaglio Squadra <i class="bi bi-layout-text-sidebar-reverse"></i>
            </a>
          </li>
          {% endif %}
        </ul>
     
          {% block login %}
          {% if ALLAUTH_ENABLED %}
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item me-md-2">
              <div class="container-fluid">
                <span class="navbar-text">
                  Ciao <span class="fw-bold text-light">{{user.username}}</span>
                </span>
              </div>
            </li>
            <li class="nav-item me-md-2">
              {% if request.session.squadra_id %}
                {% if request.resolver_match.url_name != "squadra-detail" %}
                  {% url 'squadra-detail' as squadra_url %}
                  {% bootstrap_button content="La mia squadra <i class='bi bi-people-fill'></i>" href=squadra_url button_type="link" button_class="nav-link active btn-warning  text-dark"  size="sm" %} 
                  {% else %}
                  {% url 'squadra-update' as squadra_url %}
                  {% bootstrap_button content="Modifica squadra <i class='bi bi-people-fill'></i>" href=squadra_url button_type="link" button_class="nav-link active btn-primary  text-light"  size="sm" %} 
                  {% endif %}
              {% else %}
                {% bootstrap_button content="<i class='bi bi-people-fill'></i> Crea la tua squadra" href="/squadra/add" button_type="link" button_class="nav-link active btn-warning text-dark"  size="sm" %} 
              {% endif %}
            </li>
            <li class="nav-item me-md-2">
              {% bootstrap_button content="Esci <i class='bi bi-unlock-fill'></i>" href="/accounts/logout/" button_type="link" button_class="nav-link active btn-danger" size="sm" %} 
            </li>
            {% else %}
            <li class="nav-itemme-md-2">
              {% bootstrap_button content="Entra <i class='bi bi-lock-fill'></i>" href="/accounts/twitter/login/?process=login" button_type="link" button_class="nav-link active btn-success"  size="sm" %} 
            </li>
            {% endif %}
          </ul>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    {% block content %}{% endblock %}
  </div>
  {% bootstrap_javascript  %}
  
  <nav class="navbar navbar-expand-md navbar-dark mb-0">
    <div class="container-fluid">
        <ul class="navbar-nav mt-2 mt-md-0">
          {% if perms.fc_classifiche_app.change_classificagenerale %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'refresh_classifiche' %}" aria-current="page">
              <i class="bi bi-arrow-clockwise"></i>
            </a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-twitter"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" target="_blank" href="https://twitter.com/radical_scic">
                <i class="bi bi-twitter"></i> Io</a>
              </li>
              <li><a class="dropdown-item" target="_blank" href="https://twitter.com/Fanta_citorio">
                <i class="bi bi-twitter"></i> Fantacitorio Official</a>
              </li>
              <li><a class="dropdown-item" target="_blank" href="https://twitter.com/welikeduel">
                <i class="bi bi-twitter"></i> Propaganda Live</a>
              </li>
              <li><a class="dropdown-item" target="_blank"  href="https://twitter.com/RosyilCapo">
                <i class="bi bi-twitter"></i> Rosy</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-github"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/heyteacher/fantacitorio">
                    <i class="bi bi-github"></i> Fantacitorio (questo progetto)
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/django/django">
                    <i class="bi bi-github"></i> django
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/zappa/Zappa">
                    <i class="bi bi-github"></i> zappa
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/FlipperPA/django-s3-sqlite">
                    <i class="bi bi-github"></i> django-s3-sqlite
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/etianen/django-s3-storage">
                    <i class="bi bi-github"></i> django_s3_storage
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/xncbf/django-dynamodb-cache">
                    <i class="bi bi-github"></i> django-dynamodb-cache
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/jieter/django-tables2">
                    <i class="bi bi-github"></i> django-tables2
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/carltongibson/django-filter">
                    <i class="bi bi-github"></i> django-filter
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/zostera/django-bootstrap5">
                    <i class="bi bi-github"></i> django-bootstrap5
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/django-import-export/django-import-export">
                    <i class="bi bi-github"></i> django-import-export
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/farhan0581/django-admin-autocomplete-filter">
                    <i class="bi bi-github"></i> django-admin-autocomplete-filter
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" target="_blank" href="https://github.com/jazzband/django-debug-toolbar">
                    <i class="bi bi-github"></i> django-debug-toolbar
                  </a>
                </li>
              </ul>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://docs.google.com/spreadsheets/d/19RcqYZYyrCdjMHyFA2bcChaxnd7JIuzjXxYbKNRN3jM/edit#gid=0">
              <i class="bi bi-file-earmark-spreadsheet-fill"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="bi bi-gear-fill"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script>
    const select = document.querySelector("select")
    if (select) {
      select.addEventListener('change', (event) => {
        event.target.form.submit()
      })
  }
  </script>
</body>
</html>